/* preview-monitoring.component.css */
.main-container {
  padding: 20px;
}

.card {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

button {
  padding: 8px 16px;
  font-size: 14px;
}

.input-description {
  width: 100% !important;
}

.success-message {
  color: green;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

.error-message {
  color: red;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .title h2 {
    font-size: 25px;
  }

  .main-container {
    padding: 10px;
  }

  .card {
    padding: 10px;
  }

  .button-container {
    justify-content: center;
  }

  button {
    width: 100%;
    margin-top: 10px;
  }

  table th, table td {
    display: block;
    width: 100%;
  }
}
