<!-- navbar.component.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">IoT System App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="isLoggedIn()">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/monitorings']">Monitoring Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/devices']">Devices</a>
        </li>
      </ul>
      <div class="d-flex ms-auto">
        <span *ngIf="isLoading" class="navbar-text">Loading...</span>
        <span *ngIf="!isLoading && isLoggedIn()" class="navbar-text">Welcome, {{ userName }}</span>
        <span *ngIf="errorMessage" class="navbar-text">{{ errorMessage }}</span>
        <button *ngIf="isLoggedIn()" class="btn btn-outline-light ms-2" (click)="logout()">Logout</button>
        <button *ngIf="!isLoggedIn() && isLoginPage()" class="btn btn-outline-light ms-2" [routerLink]="['/register']">Register</button>
        <button *ngIf="!isLoggedIn() && isRegisterPage()" class="btn btn-outline-light ms-2" [routerLink]="['/login']">Login</button>
      </div>
    </div>
  </div>
</nav>
