<div class="main-container">
  <h2>Monitoring Dashboard</h2>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="monitoringCode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Monitoring Code </th>
      <td mat-cell *matCellDef="let element"> {{element.monitoringCode}} </td>
    </ng-container>

    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> User </th>
      <td mat-cell *matCellDef="let element"> {{element.user.name}} </td>
    </ng-container>

    <ng-container matColumnDef="device">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Device </th>
      <td mat-cell *matCellDef="let element"> {{element.device.name}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Created At </th>
      <td mat-cell *matCellDef="let element"> {{element.createdAt | date: 'short'}} </td>
    </ng-container>

    <ng-container matColumnDef="updatedAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated At </th>
      <td mat-cell *matCellDef="let element"> {{element.updatedAt | date: 'short'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [length]="totalElements" [pageSize]="pageSize" [pageSizeOptions]="[10, 50, 100]"  [disabled]="isLastPage"(page)="onPaginateChange($event)">
  </mat-paginator>
</div>