<div class="main-container">
  <div class="title">
    <h2>Create New Monitoring</h2>
  </div>

  <div class="card">
    <p-table
      #dt2
      [value]="devices"
      [(selection)]="selectedDevices"
      dataKey="deviceCode"
      [rows]="10"
      [rowsPerPageOptions]="[10, 50, 100]"
      [loading]="loading"
      [paginator]="true"
      [totalRecords]="totalRecords"
      [globalFilterFields]="[
        'deviceCode',
        'deviceName',
        'deviceStatus',
        'description',
        'industryType',
        'createdBy.name',
        'createdAt'
      ]"
      [tableStyle]="{ 'min-width': '75rem' }"
      (onLazyLoad)="loadDevices($event)"
      [lazy]="true"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pSortableColumn="deviceCode">
            Device Code <p-sortIcon field="deviceCode"></p-sortIcon>
          </th>
          <th pSortableColumn="deviceStatus">
            deviceStatus <p-sortIcon field="deviceStatus"></p-sortIcon>
          </th>
          <th pSortableColumn="deviceName">
            deviceName <p-sortIcon field="deviceName"></p-sortIcon>
          </th>
          <th pSortableColumn="description">
            Description <p-sortIcon field="description"></p-sortIcon>
          </th>
          <th pSortableColumn="industryType">
            Industry Type <p-sortIcon field="industryType"></p-sortIcon>
          </th>
          <th pSortableColumn="createdBy.name">
            User <p-sortIcon field="createdBy.name"></p-sortIcon>
          </th>
          <th pSortableColumn="createdAt">
            Created At <p-sortIcon field="createdAt"></p-sortIcon>
          </th>
        </tr>
        <tr>
          <th></th>
          <th>
            <p-columnFilter
              type="text"
              field="deviceCode"
              placeholder="Search by Device Code"
              ariaLabel="Filter Device Code"
              (input)="onFilter($event, 'deviceCode')"
            ></p-columnFilter>
          </th>
          <th>
            <p-columnFilter
              field="deviceStatus"
              matchMode="equals"
              [showMenu]="false"
            >
              <ng-template
                pTemplate="filter"
                let-value
                let-filter="filterCallback"
              >
                <p-dropdown
                  [(ngModel)]="selectedStatus"
                  [options]="statuses"
                  (onChange)="onFilterDropdown($event, 'deviceStatus')"
                  placeholder="Select One"
                  [showClear]="true"
                >
                  <ng-template let-option pTemplate="item">
                    <p-tag
                      [value]="option.value"
                      [severity]="getSeverity(option.value)"
                    />
                  </ng-template>
                </p-dropdown>
              </ng-template>
            </p-columnFilter>
          </th>
          <th>
            <p-columnFilter
              type="text"
              field="deviceName"
              placeholder="Search by deviceName"
              ariaLabel="Filter deviceName"
              (input)="onFilter($event, 'deviceName')"
            ></p-columnFilter>
          </th>
          <th>
            <p-columnFilter
              type="text"
              field="description"
              placeholder="Search by Description"
              ariaLabel="Filter Description"
              (input)="onFilter($event, 'description')"
            ></p-columnFilter>
          </th>
          <th>
            <p-columnFilter
              type="text"
              field="industryType"
              placeholder="Search by Industry Type"
              ariaLabel="Filter Industry Type"
              (input)="onFilter($event, 'industryType')"
            ></p-columnFilter>
          </th>
          <th>
            <p-columnFilter
              type="text"
              field="createdBy.name"
              placeholder="Search by User"
              ariaLabel="Filter User"
              (input)="onFilter($event, 'userName')"
            ></p-columnFilter>
          </th>
          <th>
            <p-columnFilter
              type="date"
              field="createdAt"
              placeholder="Search by Created At"
              ariaLabel="Filter Created At"
              (input)="onFilter($event, 'createdAt')"
            ></p-columnFilter>
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-device>
        <tr [ngClass]="{'disabled-row': !device.canEdit}">
          <td>
            <p-tableCheckbox [value]="device" [disabled]="!device.canEdit"></p-tableCheckbox>
          </td>
          <td>{{ device.deviceCode }}</td>
          <td>
            <p-tag
              [value]="device.deviceStatus"
              [severity]="getSeverity(device.deviceStatus)"
            ></p-tag>
          </td>
          <td>{{ device.deviceName }}</td>
          <td>{{ device.description }}</td>
          <td>{{ device.industryType }}</td>
          <td>{{ device.createdBy.name }}</td>
          <td>{{ device.createdAt | date : "short" }}</td>
        </tr>
      </ng-template>
      
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8">No devices found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="next-button-container">
    <button (click)="navigateToPreview()" class="btn btn-primary">Next</button>
  </div>
</div>
