.device-container {
  margin: 5px 5px;
  padding: 5px 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f4f6f9;
}


.command-details-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.command-block {
  flex: 1;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.command-block h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

.command-block p {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}


.row-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.owner-info {
  flex: 0 0 40%;
  padding: 10px;
}

.top-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.section-title {
  text-align: center;
  font-size: 24px;
  margin-top: 5px;
  font-weight: bold;
  color: #333;
}

.assigned-owners {
  text-align: center;
  font-size: 20px;
  margin-top: 5px;
  font-weight: bold;
  color: #333;
}

.device-section,
.owner-info {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.device-section .p-card-header,
.owner-info .p-card-header {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: #555;
}

.owner-info p {
  font-size: 14px;
  margin-bottom: 10px;
  color: #777;
}

.device-section .p-grid {
  grid-template-columns: 1fr;
  gap: 15px;
}

.device-section .p-grid label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  color: #555;
}

.device-section .p-grid input,
.device-section .p-grid textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.device-section .p-grid input:focus,
.device-section .p-grid textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
  outline: none;
}

.device-section .p-grid textarea {
  resize: vertical;
  height: 80px;
}

.related-users-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.p-col-12 a {
  word-break: break-all;
  display: inline-block;
  width: 100%;
  overflow-wrap: break-word;
  white-space: normal;
  color: #007bff;
  text-decoration: none;
}

.p-col-12 a:hover {
  text-decoration: underline;
}

.error {
  color: red;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  font-size: 12px;
}

.edition-form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.btn-save,
.btn-cancel {
  padding: 10px 15px;
  min-width: 140px;
}

.btn-save:hover,
.btn-cancel:hover {
  opacity: 0.9;
}

.user-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  min-width: 180px;
  max-width: 100%;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f0f8ff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  margin-bottom: 5px;
}

.user-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.remove-user-btn {
  background-color: #ff4d4f;
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s;
}

.remove-user-btn:hover {
  background-color: #ff7875;
}

.user-select {
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.user-entry-grid {
  flex: 1 1 30%;
  padding: 5px;
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  word-break: break-word;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-evenly;
}

.command-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-bottom: 20px;
}

.parameter-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-bottom: 20px;
}

.parameter-item {
  position: relative;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px dashed #ddd;
  border-radius: 5px;
}

.btn-remove-parameter {
  position: absolute;
  top: 5px;
  right: 10px;
  background-color: #ff4d4f;
  color: white;
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  cursor: pointer;
}

.btn-remove-command,
.btn-add-parameter,
.btn-add-command {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.btn-remove-command {
  background-color: #ff4d4f;
}

.custom-select-container {
  width: 100%;
  position: relative;
  display: inline-block;
}

.selected-label {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown {
  position: absolute;
  width: 100%;
  border: 1px solid #ccc;
  background-color: #fff;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 5px;
  z-index: 1;
}

.dropdown ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown ul li {
  padding: 10px;
  cursor: pointer;
}

.dropdown ul li:hover {
  background-color: #eaeaea;
}

.filter-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.user-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.remove-user-btn {
  background: red;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
}

.monitoring-section {
  margin-top: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  text-align: center; /* Centraliza o conteúdo */
}

.inline-monitoring {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 15px;
}

.inline-monitoring span {
  font-size: 13px;
  white-space: nowrap;
  padding: 2px 5px;
}

.monitoring-details p {
  font-size: 14px;
  margin-bottom: 5px;
}

.no-monitoring {
  text-align: center;
  margin-top: 20px;
  background-color: #fff3cd;
  padding: 15px;
  border: 1px solid #ffeeba;
  border-radius: 8px;
}

.create-monitoring-btn {
  margin-top: 10px;
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.create-monitoring-btn:hover {
  background-color: #218838;
}

.btn-view-monitoring {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

.btn-view-monitoring:hover {
  background-color: #0056b3;
}
.status-on {
  color: #28a745;
  font-weight: bold;
}

.status-off {
  color: #dc3545;
  font-weight: bold;
}

/* Responsividade */
@media (max-width: 1200px) {
  .row-container {
    gap: 15px;
  }

  .edit-info {
    flex: 0 0 65%;
  }

  .owner-info {
    flex: 0 0 35%;
  }
}

@media (max-width: 992px) {
  .row-container {
    flex-direction: column;
  }

  .edit-info,
  .owner-info {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .edition-form-actions {
    justify-content: center;
    gap: 10px;
  }

  .btn-save,
  .btn-cancel {
    flex: 1;
    max-width: 180px;
  }
}

@media (max-width: 768px) {
  .monitoring-section {
    margin-top: 20px;
    padding: 15px;
  }

  .monitoring-details p {
    font-size: 14px;
  }

  .device-container {
    padding: 0px;
  }

  .device-section,
  .owner-info {
    padding: 10px;
  }

  .section-title {
    font-size: 20px;
    margin-top: 10px;
  }

  .command-block h3 {
    font-size: 16px;
  }

  .related-users-grid {
    flex-direction: column;
    gap: 10px;
  }

  .user-box {
    padding: 5px;
    min-width: 80px;
    max-width: 50%;
    margin-bottom: 2px;
  }

  .assigned-owners {
    font-size: 15px;
  }

  .inline-monitoring {
    flex-direction: column;
  }
  .command-details-container {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .top-row {
    display: flex;
    flex-direction: column;
  }

  .section-title {
    font-size: 18px;
  }

  .top-row p-card {
    padding: 0%;
  }

  .command-block h3 {
    font-size: 16px;
  }

  .edition-form-actions {
    gap: 10px;
  }
  .create-monitoring-btn {
    font-size: 15px;
  }
}

.delete-button {
  background-color: #ff4d4f;
  color: white;
}
.delete-modal-content {
  text-align: center;
  margin-bottom: 20px;
}

.device-details p {
  font-size: 16px;
  margin: 8px 0;
}

.device-details strong {
  font-weight: bold;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.p-button-danger {
  background-color: #ff4d4f;
  border: none;
}

.p-button-danger:hover {
  background-color: #ff7875;
}

.p-button-secondary {
  background-color: #6c757d;
  border: none;
}

.p-button-secondary:hover {
  background-color: #868e96;
}

.status-on {
  color: #28a745;
  font-weight: bold;
}

.status-off {
  color: #dc3545;
  font-weight: bold;
}

::ng-deep .ui-dialog {
  width: 500px;
  border-radius: 10px;
}

::ng-deep .ui-dialog-titlebar {
  background-color: #f7f7f7;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

::ng-deep .ui-dialog-content {
  padding: 20px;
}
