<p-breadcrumb [model]="breadcrumbItems"></p-breadcrumb>

<div *ngIf="monitoring" class="monitoring-container">
  <div class="header-section">
    <div class="monitoring-section">
      <h2>Monitoring Information</h2>
      <p><strong>Code:</strong> {{ monitoring.monitoringCode }}</p>
      <p><strong>Description:</strong> {{ monitoring.description }}</p>
      <p>
        <strong>Status:</strong>
        <span
          [ngClass]="{
            'status-on': monitoring.monitoringStatus === 'ON',
            'status-off': monitoring.monitoringStatus === 'OFF'
          }"
          >{{ monitoring.monitoringStatus }}</span
        >
      </p>
      <p>
        <strong>Created At:</strong> {{ monitoring.createdAt | date : "short" }}
      </p>
      <p>
        <strong>Updated At:</strong> {{ monitoring.updatedAt | date : "short" }}
      </p>
    </div>
    <div class="monitoring-section">
      <h2>User Information</h2>
      <p><strong>Name:</strong> {{ monitoring.createdBy.name }}</p>
      <p><strong>Email:</strong> {{ monitoring.createdBy.email }}</p>
      <p><strong>Username:</strong> {{ monitoring.createdBy.username }}</p>
      <p><strong>Role:</strong> {{ monitoring.createdBy.role }}</p>
    </div>
    <div class="monitoring-section">
      <h2>Device Information</h2>
      <p><strong>Name:</strong> {{ monitoring.device.deviceName }}</p>
      <p><strong>Description:</strong> {{ monitoring.device.description }}</p>
      <p>
        <strong>Status:</strong>
        <span
          [ngClass]="{
            'status-on': monitoring.device.deviceStatus === 'ON',
            'status-off': monitoring.device.deviceStatus === 'OFF'
          }"
          >{{ monitoring.device.deviceStatus }}</span
        >
      </p>
      <p><strong>Device Code:</strong> {{ monitoring.device.deviceCode }}</p>
      <p><strong>Manufacturer:</strong> {{ monitoring.device.manufacturer }}</p>
      <p>
        <strong>Created At:</strong>
        {{ monitoring.device.createdAt | date : "short" }}
      </p>
      <button
        (click)="viewDevice(monitoring.device.deviceCode)"
        class="view-device-button"
      >
        <i class="fas fa-eye"></i> View Device
      </button>
    </div>
  </div>

  <div class="panel-section" *ngIf="filteredCommands.length">
    <h3>Device Commands</h3>
    <div class="commands-container">
      <div *ngFor="let command of filteredCommands" class="command-section">
        <p><strong>Operation:</strong> {{ command.operation }}</p>
        <p><strong>Description:</strong> {{ command.description }}</p>
        <button
          (click)="sendCommand(command)"
          [ngClass]="{
            sending: commandStates[command.operation],
            success:
              commandResponse[command.operation] ===
              'Command sent successfully',
            error:
              commandResponse[command.operation] === 'Error sending command'
          }"
          class="send-command-button"
        >
          <i
            [class.fa-spinner]="commandStates[command.operation]"
            class="fas"
            [class.fa-cog]="!commandStates[command.operation]"
          ></i>
          {{ commandStates[command.operation] ? "Sending..." : "Send Command" }}
        </button>
        <div *ngIf="commandStates[command.operation]" class="progress-bar">
          <div class="progress"></div>
        </div>
        <div
          *ngIf="
            commandResponse &&
            commandResponse[command.operation] === 'Command sent successfully'
          "
          class="success-message"
        >
          Command sent successfully!
        </div>
        <div
          *ngIf="
            commandResponse &&
            commandResponse[command.operation] === 'Error sending command'
          "
          class="error-message"
        >
          Error sending command.
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="errorMessage" class="error">
  <p>{{ errorMessage }}</p>
</div>

<div class="action-buttons" *ngIf="canEditOrDelete()">
  <button
    (click)="openEditModal()"
    pButton
    label="Edit"
    icon="pi pi-pencil"
    class="edit-button"
  >
    <i style="margin-right: 5px" class="fas fa-edit"></i>
  </button>
  <button
    pButton
    label="Delete"
    icon="pi pi-trash"
    class="delete-button"
    style="margin-left: 10px; background-color: red"
    (click)="openDeleteModal()"
  >
    <i style="margin-right: 5px" class="fas fa-trash-alt"></i>
  </button>
</div>

<p-dialog
  [(visible)]="displayDeleteModal"
  modal="true"
  header="Confirm Deletion"
  [closable]="false"
  class="custom-modal"
>
  <div class="delete-modal-content">
    <p>
      Are you sure you want to delete the monitoring
      <strong>{{ monitoring?.monitoringCode }}</strong
      >?
    </p>
    <div class="monitoring-details">
      <p><strong>Code:</strong> {{ monitoring?.monitoringCode }}</p>
      <p><strong>Description:</strong> {{ monitoring?.description }}</p>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div class="modal-buttons">
      <button
        pButton
        type="button"
        label="Yes"
        icon="pi pi-check"
        class="p-button-danger"
        (click)="confirmDeleteMonitoring()"
      ></button>
      <button
        pButton
        type="button"
        label="No"
        icon="pi pi-times"
        class="p-button-secondary"
        (click)="cancelDelete()"
      ></button>
    </div>
  </ng-template>
</p-dialog>

<p-dialog
  [(visible)]="displayEditModal"
  modal="true"
  header="Edit Monitoring"
  [closable]="false"
  class="custom-modal"
  [style]="{ width: '30%' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
>
  <div class="edit-modal-content">
    <form #editForm="ngForm">
      <div class="form-group">
        <label for="monitoringStatus">Monitoring Status:</label>
        <select
          class="p-dialog-content-select"
          [(ngModel)]="editMonitoringData.monitoringStatus"
          name="monitoringStatus"
          required
        >
          <option value="ON">ON</option>
          <option value="OFF">OFF</option>          
          <option value="STANDBY">STANDBY</option>
        </select>
      </div>

      <div class="form-group">
        <label for="deviceCode">Device Code:</label>
        <input
          class="p-dialog-content-input"
          type="text"
          [(ngModel)]="editMonitoringData.deviceCode"
          name="deviceCode"
          required
        />
      </div>

      <div class="form-group">
        <label for="description">Description:</label>
        <textarea
          class="p-dialog-content-textarea"
          [(ngModel)]="editMonitoringData.description"
          name="description"
          required
        ></textarea>
      </div>
    </form>
  </div>

  <ng-template pTemplate="footer">
    <button
      pButton
      type="button"
      label="Save"
      icon="pi pi-check"
      class="p-button-success"
      [disabled]="!editForm.valid"
      (click)="saveEdit()"
    ></button>
    <button
      pButton
      type="button"
      label="Cancel"
      icon="pi pi-times"
      class="p-button-secondary"
      (click)="cancelEdit()"
    ></button>
  </ng-template>
</p-dialog>
