.monitoring-container {
  margin: 20px auto;
  padding: 20px;
  width: 90%;
  background-color: #f0f4f7;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.monitoring-section {
  flex: 1 1 30%;
  margin: 10px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Flexbox para os comandos */
.commands-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.command-section {
  flex: 1 1 calc(33.3333% - 20px); /* Máximo de 3 por linha */
  padding: 10px;
  border-radius: 4px;
  background-color: #f9f9f9;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Ajustando responsividade */
@media (max-width: 768px) {
  .commands-container {
    flex-direction: column;
  }

  .command-section {
    flex: 1 1 100%; /* Em telas pequenas, cada comando ocupa 100% da largura */
  }
}

.monitoring-container h2, .monitoring-container h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

.monitoring-container p {
  font-size: 1.1em;
  margin: 5px 0;
  color: #555;
}

.monitoring-container p strong {
  color: #000;
}

.status-on {
  color: #28a745;
  font-weight: bold;
}

.status-off {
  color: #dc3545;
  font-weight: bold;
}

.view-device-button,
.send-command-button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s, transform 0.3s;
}

.send-command-button.sending {
  background-color: #ffc107;
  color: #333;
  cursor: not-allowed;
}

.send-command-button.success {
  background-color: #28a745;
}

.send-command-button.error {
  background-color: #dc3545;
}

.view-device-button:hover,
.send-command-button:not(.sending):hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.progress-bar {
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 10px;
}

.progress {
  height: 10px;
  width: 0;
  background-color: #007bff;
  animation: progress-animation 2s linear infinite;
}

@keyframes progress-animation {
  0% { width: 0; }
  100% { width: 100%; }
}

@media (max-width: 768px) {
  .monitoring-container{
    width: 98%;
    margin: 2px;
    padding: 2px;
  }
  .header-section {
    flex-direction: column;
    padding: 2px;
  }

  .monitoring-section {
    flex: 1 1 100%;
    margin: 10px 0;
  }
}
