/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .main-container {
    margin-top: 80px !important; /* Ajuste conforme necessário */
    padding: 20px;
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
